
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Book a service</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <h4 style="font-family: 'Dancing Script', cursive;
          font-size: 20px;
          margin-bottom: 30px;">Book a Service</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
      </div>

      <div class="modal-body">
  <!-- ==============================================================================popup content -->
<div class="container">
    <div class="col-md-6">
      <div [formGroup]="form">
        <div class="form-group">
          <label>Date</label>      
            <div class="input-icons"> 
                
                <i class="fa fa-calendar icon"></i>
                
            
            <input type="text"
                   placeholder="Choose a Date"
                   class="form-control" [minDate]="minDate" formControlName="Date"
                   bsDatepicker >
                  </div> 
        </div>
        
        <div class="form-group">
            <label>Service Center</label>
            
            <select [(ngModel)]="selectedCountry.id" (change)="onSelect($event.target.value)" class="form-control" id="service" formControlName="service" required>
              <label class="text-danger" *ngIf="form.get('service').touched && form.get('service').errors?.required">This field is mandotory</label>
              <option value="0">--Select--</option>
              <option *ngFor="let country of countries" value={{country.id}}>{{country.name}}</option>
            </select>
          </div>
  
        <div class="form-group">
            <label>Brand</label>
            <select class="form-control" formControlName="brand">
              <option value="">--Select--</option>
              <option *ngFor="let state of states ">{{state.name}}</option>
              
            </select>
          </div>
          
  
        <button type="button" class="btn btn-primary" (click)="onSave()">Search</button>

        
      </div>
    </div>
    <div class="container" *ngIf="showTimeslots">
      <table class="table table-hover table-sm">
        <thead>
            <tr>
              <th>Time Slot</th>
              <th>From</th>
              <th>To</th>
              <th>Click to Book</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let timeslot of timeslots">
            <td >{{ timeslot.ts_id }}</td>
            <td>{{ timeslot.from }}</td>
            <td>{{ timeslot.to}}</td>
            <td><button type="button" class="btn btn-primary btn-sm" (click)="onBook(timeslot)" data-dismiss="modal">Book now</button></td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
  


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
