<div class="wrapper">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                        <a class="nav-link" href="#" routerLink="/home"
                                                routerLinkActive="active">Home</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" routerLink="/user/search" routerLinkActive="active">Book a
                                                service</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" routerLink="/services"
                                                routerLinkActive="active">Services</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact
                                                Us</a>
                                </li>
                                <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Dropdown
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link disabled" href="#" tabindex="-1"
                                                aria-disabled="true">Disabled</a>
                                </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                        aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                </div>
        </nav>
</div>

<!-- <div class="image-fluid">
        <img src="../../assets/Homebg.png" class="img-fluid">

</div> -->

<div class="image-fluid">
        <img src="'../../assets/tesla1.jpg"  id = "coverPge" class="img-fluid">
    
    </div>
    <!--
    <div class="about">
            <h2 id = "who">Who Are We?</h2>
            <pre id = "para1">
            We are Sri Lanka’s best automobile care specialists with state of the art
            service centers located across the country.Each center is extremely committed
            to providing our clients with the very best services
    
    </pre>
    </div>
    <div class="services">
            <h2  id = "what">What We Do?</h2>
            <pre id = "para2">
            We do services such as Interior & Exterior detailing
            Vehicle Inspection Wash & Vaccum Packages
            Engine Tune-Up,Tire and Wheels grooming etc..
    </pre>
    </div>
    <div class="viss">
            <h2 id = "vission">Vission</h2>
            <pre id = "para3">
            To be the most trusted, recognized and respected solution
            provider in the automobile industry in Sri Lanka.
            </pre>
    </div>
    <div class="miss">
            <h2  id = "mission">Mission</h2>
            <pre id = "para4">
            To achieve unparalleled recognition as the premium auto care service
            provider by objectifying trust,convenience and uniqueness; guiding
            our work force as a team striving “to become the obvious choice".
    
    </pre>
    <br>
    </div>
    
                    <h2 id = "findus">Find Us On</h2>
    
                                    <a href="https://www.facebook.com/">
                                            <img border="0" alt="facebook" src="'../../assets/facebook.jpg" width="100" height="100" id = "fb">
                                    </a>
                                    <a href="https://www.instagram.com/">
                                            <img border="0" alt="instagram" src="'../../assets/instagram.jpg" width="100" height="100" id = "insta">
                                    </a>
                                    <a href="https://twitter.com/">
                                            <img border="0" alt="twitter" src="'../../assets/twitter.jpg" width="120" height="120" id = "twitter">
                                    </a> -->
    
 
    <title>vehicle.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <style>
        html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
    
    </style>
    <body>
    
    <!-- Content -->
    <div class="vehicle-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">
    
        <!-- Grid -->
        <div class="vehicle-row-padding" id="about">
            <div class="vehicle-center vehicle-padding">
                <span class="vehicle-xlarge vehicle-bottombar vehicle-border-dark-grey vehicle-padding-1">Who We Are</span>
            </div>
    
            <div class="vehicle-third vehicle-margin-bottom">
                <div class="vehicle-card-4">
                    <img src="'../../assets/vision.jpg" alt="vission" style="width:100%">
                    <div class="vehicle-container">
                        <h3>Vission</h3>
                        <p class="vehicle-opacity">Where of a business</p>
                        <p>To be the most trusted, recognized and respected solution
                            provider in the automobile industry in Sri Lanka.</p>
                    </div>
                </div>
            </div>
    
            <div class="vehicle-third vehicle-margin-bottom">
                <div class="vehicle-card-4">
                    <img src="'../../assets/mission.jpg" alt="mission" style="width:100%">
                    <div class="vehicle-container">
                        <h3>Mission</h3>
                        <p class="vehicle-opacity">Overall Goal</p>
                        <p>To achieve unparalleled recognition as the premium auto care service
                            provider by objectifying trust,convenience and uniqueness; guiding
                            our work force as a team striving “to become the obvious choice".</p>
                    </div>
                </div>
            </div>
    
            <div class="vehicle-third vehicle-margin-bottom">
                <div class="vehicle-card-4">
                    <img src="'../../assets/values.jpg" alt="values" style="width:100%">
                    <div class="vehicle-container">
                        <h3>Values</h3>
                        <p class="vehicle-opacity">Fundamental beliefs our business and behavior are based</p>
                        <ul>
                            <li>We act with integrity and we are honest about our work in order to be fair & ethical.</li>
                            <li>We will maintain highest standards in professional diagnosis service & repair using state of the art equipment & genuine auto parts for our customers.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Contact -->
        <div class="vehicle-center vehicle-padding" id="contact">
            <span class="vehicle-xlarge vehicle-bottombar vehicle-border-dark-grey vehicle-padding-1">Find Us On</span>
        </div>
    
    
    </div>
    
    <a href="https://www.facebook.com/">
        <img border="0" alt="facebook" src="'../../assets/facebook.jpg" width="100" height="100" id = "fb">
    </a>
    <a href="https://www.instagram.com/">
        <img border="0" alt="instagram" src="'../../assets/instagram.jpg" width="100" height="100" id = "insta">
    </a>
    <a href="https://twitter.com/">
        <img border="0" alt="twitter" src="'../../assets/twitter.jpg" width="120" height="120" id = "twitter">
    </a>
    
    </body>
 